.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  /* .logo-link {
    display: block;
    max-width: 500px;
    margin: 0 auto;

    .logo {
      width: 100%;
      height: auto;
      display: block;
    }
  } */

  .logo {
    // height: 40px;
    // height: auto;
    height: 150px;
    width: auto;
    // max-width: 500px;
    margin-right: 16px;
  }

  .spacer {
    flex: 1;
  }

  .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
  }
}
