form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &.request-mode {
    mat-form-field { width: 100% }
  }
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
