<ng-container>
  <mat-table [hidden]="dataSource.data.length === 0" [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Report</mat-header-cell>
      <mat-cell *matCellDef="let report">{{ report.name }}</mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date Uploaded </mat-header-cell>
      <mat-cell *matCellDef="let report">{{ report.createdDate | date:'dd.MM.yyyy, HH:mm' }}</mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by file type"> File Type </mat-header-cell>
      <mat-cell *matCellDef="let report">{{ report.type }}</mat-cell>
    </ng-container>

    <!-- Download Column -->
    <ng-container matColumnDef="download">
      <mat-header-cell *matHeaderCellDef> Download </mat-header-cell>
      <mat-cell *matCellDef="let report">
        <button mat-icon-button (click)="downloadReport(report)">
          <mat-icon>download</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [hidden]="dataSource.data.length === 0" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true"></mat-paginator>
</ng-container>


<div *ngIf="isLoading" class="loading-overlay">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="dataSource.data.length === 0 && !isLoading" class="no-results">
  <mat-icon>info</mat-icon> No reports available
</div>
