<mat-table [dataSource]="this.dataSource" matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Report Name </mat-header-cell>
    <mat-cell *matCellDef="let report">{{ report.name }}</mat-cell>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> File Type </mat-header-cell>
    <mat-cell *matCellDef="let report">{{ report.type }}</mat-cell>
  </ng-container>

  <!-- Download Column -->
  <ng-container matColumnDef="download">
    <mat-header-cell *matHeaderCellDef> Download </mat-header-cell>
    <mat-cell *matCellDef="let report">
      <button mat-icon-button (click)="this.downloadReport(report)">
        <mat-icon>download</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<div *ngIf="this.isLoading" class="loading-overlay">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="this.dataSource.data.length === 0 && !this.isLoading" class="no-results">
  <mat-icon>info</mat-icon> No reports available
</div>
